*::-webkit-scrollbar {
    display: none;
}

#sidebarContainer {
    height: 100vh;
    background-color: #294dff;
    font-size: 18px;
    font-weight: 600;
}

#sidebarContainer a {
    color: white;
}

#navbarContainer {
    background-color: #294dff;
}